<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <title>User</title>
</head>

<body>

<div class="container">
    <h2>User</h2>
    <form th:object="${user}" th:action="@{/user/save}" method="POST">
<!--        <input type="hidden" th:field="*{id}"/>-->
        <div class="form-group">
            <label  th:text="Name"  th:for="name"></label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label th:text="Age"  th:for="age"></label>
            <input type="text" class="form-control" id="age" placeholder="Enter age" th:field="*{age}">
        </div>
        <div class="form-group">
            <label th:text="Salary"  th:for="salary"></label>
            <input type="number" class="form-control" id="salary" placeholder="Enter salary" th:field="*{salary}">
        </div>
        <input type="submit" class="btn btn-info" value="Add">
        <input type="reset" class="btn btn-danger" value="Reset Form">
    </form>
</div>
</body>
</html>