<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <title>User</title>
</head>

<body>

<div class="container">
    <h2>List User</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.salary}"></td>
            <td>
<!--                <a class="page-link" th:href="@{/user/edit?id={id}(id=${user.id})}" class="btn btn-success">Edit</a>-->
            </td>
            <td>
<!--                <a class="page-link" th:href="@{/user/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>